.footer {   
    left: 0;
    right:0; 
    bottom: 0; 
    width: 100%;
    padding: 1rem;
    font-size: 14px;
    position: fixed;
    color: #0A0A0A;
    text-align: center;
    background-color: #0055A7; 
}

@media screen and (max-width: 450px) {
    .footer{
        width: auto;
    }
}